@charset "utf-8";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: url(../dev_img/back.jpg) no-repeat;
    background-size: cover;
    color: #dcdcdc;
    min-height: 100vh;
}
#mbox {
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
}
#box {
    position: relative;
}
#main {
    position: relative;
    margin-top:100px;
}
.part {
    padding-top: 1rem;
    margin: 50px auto 0;
    font-size: 16px;
}
.part h2 {
    margin: 1rem 0 .5rem;
    font-size: 50px;
    color: #996933;
    font-weight: bold;
}
.part h2+p {
    color: #9a9a9a;
    padding-left: 10px;
    opacity: 0;
}
.txt {
    margin: 2rem 0 1rem;
    font-weight: bold;
    font-size: 25px;
    color: #996933;
}
.txt+p {
    margin-bottom: 55px;
    padding-left: 10px;
}
.skill {
    width: 100%;
    margin-top: 50px;
}
.skill ul {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-left: 10px;
    justify-content: space-between;
}

.skill li img {
    width: 100%;
}
.style ul:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 30px;
}
.style ul:nth-of-type(1) li:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    color: #fff;
    padding-left: 10px;
}
.style ul:nth-of-type(1) li:not(li:first-child) {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.style ul:nth-of-type(1) li span {
    width: 60px;
    height: 60px;
    background: #996933;
    border-radius: 15px;
    display: block;
    border: 1px solid #fff;
    margin: 0 auto;
}
.style ul:nth-of-type(1) li:nth-child(2) span {
    background: #fff;
}
.style ul:nth-of-type(1) li:nth-child(3) span {
    background: #dcdcdc;
}
.style ul:nth-of-type(1) li:nth-child(4) span {
    background: #c9c9c9;
}
.style ul:nth-of-type(1) li:nth-child(5) span {
    background: #9a9a9a;
}
.style ul:nth-of-type(1) li:nth-child(6) span {
    background: #221e1f;
}
.style ul:nth-of-type(1) li:nth-child(7) span {
    background: #000;
}
.style ul:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 40px;
    text-align: center;
    padding-left: 10px;
}
.style ul:nth-of-type(2) li:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    color: #fff;
}
.style ul:nth-of-type(2) li:nth-child(2) {
    font-family: 'Noto Serif KR';
}
.style ul:nth-of-type(2) li:nth-child(3) {
    font-family: 'Noto Sans KR';
}
.style ul:nth-of-type(2) li p:first-child {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.style ul:nth-of-type(2) li p {
    margin-bottom: 3px;
}
.style ul:nth-of-type(2) li p:nth-child(2) {
    font-size: 16px;
    font-weight: 100;
}
.style ul:nth-of-type(2) li p:nth-child(3) {
    font-size: 16px;
    font-weight: 600;
}
.style ul:nth-of-type(2) li p:nth-child(4) {
    font-size: 16px;
    font-weight: 900;
}
.device {
    position: absolute;
    border: 10px solid #000;
    background: #000;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .4);
    border-radius: 60px;
    right: 0%;
    top: 35%;
    transform: translateY(-35%);
    overflow: hidden;
}
.device::before,
.device::after {
    content: "";
    position: absolute;
}
.device::before {
    width: 35%;
    height: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 13px 13px;
    background: #000;
}
.device iframe {
    width: 300px;
    height: 650px;
    padding-top: 40px;
    background: #111;
    border-radius: 0 0 45px 45px;
}
.time {
    position: absolute;
    top: 10px;
    left: 45px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}
#top {
    position: absolute;
    top: 10px;
    right: 22px;
    gap: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_1 {
    display: block;
    background: url(..//img/top_1.png)no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
}
.top_2 {
    display: block;
    background: url(..//img/top_2.png)no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
}
.top_3{
    display: block;
    background: url(..//img/top_3.png)no-repeat;
    width: 26px;
    height: 20px;
    background-size: contain;
    margin-bottom: 5px;
}