@charset "utf-8";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: #444;
    background-size: cover;
    color: #fff;
}
#mbox {
    display: grid;
    width: 70%;
    margin: 2rem auto;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    height: 45rem;
}
#box {
    position: relative;
}
#main {
    position: relative;
    margin-top:100px;
}
.part {
    width: 80%;
    padding-top: 1rem;
    margin: 0 auto;
}
.part h2, h3 {
    margin: 1rem 0;
}
.txt {
    margin: 2rem 0 1rem;
    font-weight: bold;
    font-style: italic;
}

.device {
    position: absolute;
    border: 10px solid #000;
    background: #000;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .4);
    border-radius: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.device::before,
.device::after {
    content: "";
    position: absolute;
}
.device::before {
    width: 35%;
    height: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 13px 13px;
    background: #000;
}
.device iframe {
    width: 300px;
    height: 650px;
    padding-top: 40px;
    background: #111;
    border-radius: 0 0 45px 45px;
}
.time {
    position: absolute;
    top: 12px;
    left: 45px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}
#top {
    position: absolute;
    top: 12px;
    right: 22px;
    gap: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_1 {
    display: block;
    background: url(..//img/top_1.png)no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
}
.top_2 {
    display: block;
    background: url(..//img/top_2.png)no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
}
.top_3{
    display: block;
    background: url(..//img/top_3.png)no-repeat;
    width: 26px;
    height: 20px;
    background-size: contain;
    margin-bottom: 5px;
}